<!-- footer -->
<footer class="editContent" >
  <div class="container" style="margin-left: 360px;">
    <div class="row footer-top">
      
      <div class="col-lg-8 ">
        
        <div class="row mt-lg-4 ">
          <div class="col-md-4 footer-grid_section_w3layouts">
            <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">
              Разделы
            </h3>
            <ul class="list-unstyled w3layouts-icons">
              <li>
                <a href="/about" class="editContent">О нас</a>
              </li>
              <li>
                <a href="/articles" class="editContent">Блог</a>
              </li>
              <li>
                <a href="/triallesson" class="editContent">Пробное занятие</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-grid_section_w3layouts">
            <!-- social icons -->
            <div class="agileinfo_social_icons">
              <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">
               Методики
              </h3>
              <ul class="list-unstyled w3layouts-icons">
                <li>
                  <a href="/mentalarithm/" class="editContent">Ментальная арифметика</a>
                </li>
                <li>
                  <a href="/speedreading/" class="editContent">Скорочтение</a>
                </li>
                <li>
                  <a href="/reading/" class="editContent">Обучение чтению</a>
                </li>
                <li>
                  <a href="/calligraphy/" class="editContent">Каллиграфия</a>
                </li>
                
              </ul>
            </div>
            <!-- social icons -->
          </div>
          <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
            <h3
              class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent"
            >
              Контактная информация
            </h3>
            <div class="contact-info">
              <div class="footer-address-inf my-4">
                <h4 class="ad-info mb-2 editContent">Email</h4>
                <p class="editContent">
                  <a href="mailto:takaeva.zulfira@mail.ru">takaeva.zulfira@mail.ru</a>
                </p>
              </div>
              <div class="footer-address-inf">
                <h4 class="ad-info mb-2 editContent">Локация</h4>
                <p class="editContent">г. Уфа, ул. Бакалинская, д. 64/2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->
<div class="cpy-right py-3">
  <div class="container" style="margin-left: 420px;">
    <div class="row">
      <p class="col-md-10 text-left">
        © 2020 Азбука Интеллекта. All rights reserved | Design by Ayza
        
      </p>
      
    </div>
  </div>
</div>
