<header class="header">
  <div class="container-fluid px-lg-5">
    <!-- nav -->
    <nav class="py-4">
      <div id="logo">
        <h1>
          <a
            href="index.html"
            class="editContent"
            style="
              outline: none;
              outline-offset: -2px;
              cursor: inherit;
              color: rgb(255, 255, 255);
              font-size: 40px;
              background-color: rgba(0, 0, 0, 0);
              font-family: 'Source Sans Pro', sans-serif;
            "
            >Азбука Интеллекта</a
          >
        </h1>
      </div>

      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" />
      <ul class="menu mt-2">
        <li><a href="/about" >О нас</a></li>
        <li>
          <!-- First Tier Drop Down -->
          <label for="drop-2" class="toggle"
            >Методики
            <span class="fa fa-angle-down" aria-hidden="true"></span>
          </label>
          <a href="#"
            >Методики <span class="fa fa-angle-down" aria-hidden="true"></span
          ></a>
          <input type="checkbox" id="drop-2" />
          <ul>
            <li><a href="/mentalarithm/">Ментальная арифметика</a></li>
            <li><a href="/speedreading/">Скорочтение</a></li>
            <li><a href="/reading/">Обучение чтению</a></li>
            <li><a href="/calligraphy/">Каллиграфия</a></li>
          </ul>
        </li>
        <li><a href="/articles" >Блог</a></li>
        <li ><a href="/reviews/main">Отзывы</a></li>
        <li><a href="/free_trial_lesson" >Пробное занятие</a></li>
        </li>
      </ul>
    </nav>
    <!-- //nav -->
  </div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info">
  <!-- <p class="editContent">лучший сайт на django 3</p> -->
  <h3 class="mb-4 editContent" >Центр развития</h3>
  <div class="ban-buttons"></div>
</div>
