{% extends 'articles/base.html' %}
{% load static %}
{% block movie %}  
<div class="mental" style="color: black; margin-left: 100px; margin-right: 100px;  "> 
      <div class="mental" style="text-align: center; font-weight:bold; font-size:20px;">О нас</div><br>
<div style="text-indent: 25px;">Центр Развития "Азбука Интеллекта" — это центр с особой атмосферой, отношением к детям и любовью к математике и науке.</div>
    <div style="text-indent: 25px;">Нашему Центру 3 года и ежегодно мы обучаем более 150 детей.</div>
    <div style="text-indent: 25px;">Своей главной задачей мы видим развитие детей в математике через атмосферу радости, комфорта и ситуаций успеха. Мы искренне верим, 
      что если ребенок не любит математику, то это не навсегда, — любую ситуацию можно исправить через правильных людей. Именно такие работают в нашем центре.</div>
    <div style="text-indent: 25px;">У нас есть образовательная лицензия, что говорит о нашей надёжности. Каждая наша программа продумана и спроектирована так, чтобы у 
      вашего ребенка получились самые наилучшие для него результаты.</div>
    <div style="text-indent: 25px;">Каждый год мы принимаем участие в разных олимпиадах по математике и ментальной арифметике.  Мы уверены, что если и выбирать Центр 
      для своего ребенка, то "Азбука Интеллекта" — это то, что нужно!</div>
    <div style="text-indent: 25px;"></div>
</div>

{% endblock movie %}