{% extends 'articles/base.html' %} {% block movie %}
<div class="mental" style="color: black; margin-left: 100px; margin-right: 100px;  "> 
    <div class="mental" style="text-align: center; font-weight:bold; font-size:20px;">Что такое Каллиграфия?</div><br>
    <div style="text-indent: 25px;">Дословный перевод слова «каллиграфия» – красивое письмо. Отсюда и наиболее расхожее определение – искусство красиво писать. 
        И пожалуй, главное слово здесь – искусство. Каллиграфия всегда была связана с некой элитарностью, даже когда служила вполне конкретным целям.</div>
    <div style="text-indent: 25px;">На Востоке, например, в Китае, каллиграфия считается традиционным видом искусства наравне с поэзией и живописью, а также служит 
        формой медитации. В странах ислама каллиграфическое искусство и является практически единственным выразительным средством.</div>
    <div style="text-indent: 25px;">История каллиграфии неразрывно связана с историей письменности и эволюцией шрифтов. Письмо, как мы знаем, ведёт начало от простейших 
        знаковых рисунков, проходя этап клинописи и иероглифов, чтобы, наконец, стать условным графическим изображением устной речи: собственно алфавитом.

        Латинская, а впоследствии и общеевропейская письменность сформировалась на основе греческого и этрусского алфавитов. Интересно, что ещё до греков существовало 
        два вида написания букв. Затейливый, почти орнаментальный вариант обычно украшал памятники и монументы, а в книгах и рукописях использовался более простой и 
        понятный стиль.</div>
    <div style="text-indent: 25px;">Упрощению греческого алфавита способствовали римляне, а вот развитию шрифтов христианство. Необходимость переписывания Библии открыла
         новые возможности. С V века наиболее распространённым становится маюскульный или унциальный шрифт, особенность которого состоит в том, что заглавные буквы не 
         соединяются между собой. Распространившись по всей Европе, этот шрифт, естественно, обзавелся многочисленными региональными вариациями и местными почерками.

        Переворот происходит в VII веке и связан с правлением Карла Великого, который дал указ о создании единого шрифта. Были разработаны грамматические правила, 
        закреплены определённые функции за большими и малыми буквами. Кроме того буквы стали писаться слитно. Этот шрифт получил название каролингского минускула, и 
        основными его положениями мы пользуемся до сих пор.</div>
    <div style="text-indent: 25px;">Готический стиль, охвативший Европу с XI века, породил и готический шрифт. Ломаные, угловатые формы букв сменили унциальные, и 
        существовали вплоть до эпохи Возрождения. Великого поэта Петрарку можно назвать первым каллиграфом, в современном смысле этого слова: именно он в своём увлечении 
        письмом возродил классические доготические формы и назвал их антиквенными.</div>
    <div style="text-indent: 25px;">Казалось бы, изобретение печатного станка в начале XVI века должно было положить конец рукописным шрифтам. С одной стороны, так и 
        случилось: на их основе были созданы гарнитуры для печатных шрифтов. Но именно потеряв свою утилитарную функцию, письмо стало развиваться лишь ради красоты, 
        экспрессии и оригинальности, что и является основными признаками каллиграфии.

        Каллиграфическим почерком писали письма, подписывали официальные документы, оформляли приглашения. В конце XIX века началась эра «печатной машинки», но в то же 
        время произошло и новое возрождение каллиграфии.</div>
    <div style="text-indent: 25px;">Основой каллиграфии в прошлом было созвучие ясности, изящества и красоты без потери читаемости и удобства. Сейчас можно наблюдать 
        обратную ситуацию: в век технологий, когда чёткость достигается очень простыми методами, а аккуратность граничит со скукой, каллиграфия, возможно, теряет свою 
        изначальную сущность. Это уже не искусство красивого письма, а искусство самовыражения с помощью письма.</div>
    <div style="text-indent: 25px;">Таким образом, сегодня каллиграфия стала самостоятельным видом искусства, своеобразной живописью. В произведениях современных 
        художников-каллиграфов буквы могут сочетаться с экспрессивными абстрактными мазками, различными фактурами, создавая впечатление даже некой недоделанности. 
        Прекрасным примером такого творчества являются работы современной французской художницы Софи Вербеек.</div>
    <div style="text-indent: 25px;">Закончить хотелось бы цитатой известного немецкого каллиграфа Германа Цапфа: «Каллиграфия – это мирное и благородное искусство, 
        удел хорошо образованных людей, работающих с полной отдачей и усердием: в штрихи и буквы мы вкладываем наши чувства и переживания, частицу самих себя».</div>
    
{% endblock movie %}