{% extends 'articles/base.html' %}
{% block movie %}  
      <div class="mental" style="color: black; margin-left: 100px; margin-right: 100px;  ">
      <div class="mental" style="text-align: center; font-weight:bold; font-size:20px;">Что такое Ментальная Арифметика?</div><br>
      <div style="text-indent: 25px;">Ментальная арифметика — программа развития умственных и творческих способностей, основанная на системе устного счета. 
            Освоив ее, ребенок сможет решать арифметические задачи в уме всего за несколько секунд. Методика рекомендована для детей 
            от 4 до 12 лет. Однако современные развивающие центры готовы обучать и более взрослых людей, как правило, с одной 
            оговоркой — чем позднее начнешь, тем больше усилий потребуется.</div>
            <div style="text-indent: 25px;">Ментальная арифметика зародилась в Японии в ХVI веке. На начальных этапах обучения используются специальные счеты — абакус 
            или соробан. Счеты состоят из рамки, разделительной полосы, вертикальных спиц, верхних («небесных») и нижних («земных») 
            косточек. Одна «небесная» косточка равна пяти «земным». Количество спиц варьируется от 13 до 31. При работе ребенок 
            использует только большой и указательный пальцы. Все движения доводятся до автоматизма. Через некоторое время ребенок 
            совершает вычисления на воображаемом абаке, а задачи решаются с помощью образов.</div><br>
            <div style="text-indent: 25px; font-weight:bold;">Формула интеллекта: логика плюс интуиция</div>
            <div style="text-indent: 25px;">Известно, что левое полушарие отвечает за логику, рациональность и анализ, а правое — за образность, целостность, 
                  интуицию, фантазию и воображение. Современная система образования уделяет больше внимания точным наукам. Время 
                  на танцы, рисование или занятие музыкой выделяется по остаточному принципу. Но даже если родителям удается найти 
                  золотую середину, возникает вопрос — как развить взаимосвязь работы обоих полушарий, чтобы максимально раскрыть
                  потенциал ребенка?
      
                  Программа обучения метальной арифметики направлена на формирование устойчивых нейронных связей левого и правого 
                  полушарий. По мнению педагогов, именно этот факт помогает людям выбирать наиболее эффективные решения и добиваться 
                  успеха в жизни.</div><br> 
                  <div style="text-indent: 25px; font-weight:bold;">ПОЛЬЗА МЕНТАЛЬНОЙ МАТЕМАТИКИ ДЛЯ ДЕТЕЙ </div> <br>
                        <div style="text-indent: 25px; font-weight:bold;">Развивает творческие способности</div> 
                        <div style="text-indent: 25px;">В школе предметы преимущественно заточены на развитие левого полушария мозга и, практически исключают развитие 
                  правого полушария, которое в общем отвечает за реализацию творческого потенциала. Благодаря занятиям ментальной 
                  арифметикой мозг ребенка включает программу гармоничного развития - работают аналитические способности левого 
                  полушария и визуально-пространственные способности правого, что способствует более быстрому развитию всего 
                  интеллекта.</div><br>
                  <div style="text-indent: 25px;font-weight:bold;">Улучшает понимание математики</div> 
                  <div style="text-indent: 25px;"> Ментальная арифметика помогает подружить ребенка с цифрами. Вместо того, чтобы зубрить скучные правила, ребенок 
                  начинает играть. Настольные игры, логические упражнения и элементы квеста на занятиях делают обучение полноценным.
                   Благодаря разработанным возрастным программам обучения в Абакус центре дети с радостью приходят на занятия.</div><br> 
                   <div style="text-indent: 25px; font-weight:bold;"> Убирает рассеянность и невнимательность</div> 
                   <div style="text-indent: 25px;">Ментальный счет требует высокой степени концентрации. Сначала дети развивают усидчивость и концентрацию на счетах 
                  абакус, при помощи флеш-карт, а затем при выполнении операций в уме. Освоив технику один раз, дети используют 
                  ее не только при решении математических заданий, но и в других школьных предметах.</div><br>  
                  <div style="text-indent: 25px;font-weight:bold;">Развивает визуально-пространственного мышление</div>
                        <div style="text-indent: 25px;">Когда ребенок вычисляет ментально, ему приходится держать в голове не только определенные образы, а также правила 
                  вычислений. За счет упрощенного вида - образа абакуса - эти вычисления не являются громоздкими и тяжелыми, а 
                  наоборот, помогают ребенку играть воображением и, таким образом развивать визуально-пространственное мышление, 
                  например, такое необходимое для решения геометрических задач.
      
                  Кроме того, вычисления в уме не становятся для ребенка проблемой. Особенно это если ребенок не справлялся со 
                  школьными математическими диктантами и испытывал постоянный стресс.</div><br>  
                  <div style="text-indent: 25px;font-weight:bold;">Тренирует память (в том числе и зрительную)</div>
                  <div style="text-indent: 25px;"> В процессе обучения ребенок постоянно работает с образами, запоминает много картинок и действий и, при чем это 
                  делает в совершенно непринужденной обстановке. Когда родители жалуются, что у его ребенка "в одно ухо влетело,
                   в другое вылетело" - это проблема запоминаемости (зрительной и краткосрочной, оперативной памяти). Эту проблема
                    перестает существовать у тех, кто постоянно тренируется на занятиях.</div><br>  
                    <div style="text-indent: 25px;font-weight:bold;"> Умение быстро ориентироваться</div>
                    <div style="text-indent: 25px;">Выполняя упражнения, ребенок учится быстро ориентироваться и выполнять несколько действий одновременно, сохраняя 
                  при этом концентрацию и внимание. Такая согласованность действий поможет на контрольных и экзаменах, где часто 
                  ребенок теряется из-за стрессового состояния.</div><br>  
                  <div style="text-indent: 25px;font-weight:bold;"> Развивает нематематические навыки</div>
                        <div style="text-indent: 25px;"> Хотя предмет ментальной арифметики и основные упражнения в своей основе содержат арифметику, тем не менее, занятия 
                  развивают очень полезные социальные навыки - умение достигать результата и побеждать, доводить начатое до конца, 
                  общению среди сверстников, выдавать готовый результат и многое другое. Дети становятся увереннее в своих 
                  достижениях, снимают психологическое напряжение.
      
                  С помощью этой методики ребенок сможет одинаково успешно считать, рисовать, изучать иностранные языки и осваивать
                   точные науки. Родители откроют в своем ребенке не только способности "технаря", но и "гуманитария" и наоборот -
                    те, кто ранее сомневался в своих математических способностях, смогут показать лучшие результаты. Более того, 
                    ребенок легче сможет переключаться между предметами в течение всего дня и не испытывать усталости.</div><br> 
                    <div style="text-indent: 25px;font-weight:bold;">Доказывает, что учеба может быть веселой</div> 
                    <div style="text-indent: 25px;">Сама методика построена таким образом, что делает весь процесс обучения интересным, в отличие от стандартного 
                  процесса получения знаний, который вызывает у детей скуку и раздражение. Кроме необычных заданий существуют 
                  множество занимательных упражнений, которые ребенок выполняет с радостью. Самое главное, что вся программа 
                  построена в интересах ребенка, сохраняя при этом педагогические принципы развития личности. Дети не просто 
                  становятся увереннее в своих знаниях, они приобретают привычку быть успешными, что позволит в будущем добиться
                   высоких результатов!</div><br> 
                   <div style="text-indent: 25px; font-weight:bold;"> МИНУСЫ МЕТОДИКИ</div><br> 
                        <div style="text-indent: 25px;font-weight:bold;">«Не так, как в школе»</div>
                              <div style="text-indent: 25px;">Да, методика ментальной арифметики имеет гораздо более широкую направленность и не совпадает со российской школьной 
                  программой по математике. Но данная методика подтверждена исследованиями психологов и преподавателей детей, где 
                  программа реализуется в начальных классах - Китае, Сингапуре, Японии и др.
      
                  Главное дать возможность ребенку раскрыть свой потенциал, привить любовь к процессу обучения, усидчивость, 
                  разработать мышление, укрепить его память и убрать страх перед любыми уроками и познанием нового!</div><br>
                  <div style="text-indent: 25px;font-weight:bold;"> Поспешность и ошибки.</div> 
                  <div style="text-indent: 25px;">Некоторые дети и их родители слишком спешат с выполнением заданий и допускают ошибки. Этого можно избежать, если 
                  процесс обучения будет под руководством опытного педагога. Кроме того, ошибок становится гораздо меньше с 
                  повышением уровня знаний ребенка.</div></p>  
                  <div style="text-indent: 25px;font-weight:bold;">Перегрузка и обратный эффект.</div>
                        <div style="text-indent: 25px;">Когда детям интересно, они хотят заниматься этим постоянно. Но родители должны понимать, что ментальная математика 
                  - это все-таки наука и кропотливое дело, которое должно прерываться отдыхом, досугом, прогулками ребенка. Не надо 
                  стараться выполнить «пятилетку за 3 года», не допускайте перегрузок и усталости иначе грозит обратный эффект - 
                  абсолютное неприятие предмета. Для формирования ментального счета требуется время, будете терпеливы.</div><br>  
                  <div style="text-indent: 25px;">Занятия ментальной арифметикой - это уникальная возможность подарить ребенку будущее, к которому он будет подготовлен.</div><br> 
            </div>
{% endblock movie %}
  
