{% extends 'articles/base.html' %} {% block movie %}
<div class="mental" style="color: black; margin-left: 100px; margin-right: 100px;  "> 
    <div class="mental" style="text-align: center; font-weight:bold; font-size:20px;">Обучение чтению</div><br>
    <div style="text-indent: 25px;">Перед тем, как начать обучение чтению дошкольника, каждый родитель должен задать себе вопрос, зачем им всем это надо.</div><br>
    <div class="mental" style="text-align: center; font-weight:bold; font-size:18px;">Зачем и когда</div>
    <div style="text-indent: 25px;">Если за стремлением  родителей научить ребенка читать  не скрываются гордость и тщеславие («А мой ребенок научился читать в 3 года!»), 
        то есть два условия, при которых  надо начинать обучение. Первое – если ребенок интересуется буквами самостоятельно. Второе – если он не интересуется, но 
        приближается школа, а в школе хоть и должны учить читать, но хотят видеть первоклассников уже умеющими это делать.  В этом варианте дети, которые умеют читать до 
        школы проще пройдут адаптационный период, но начинать обучение следует не раньше 5,5 – 6 лет.</div>
    <div style="text-indent: 25px;">Существует множество различных методик по обучению чтению. Лучший вариант – комбинация этих методик. Например, обучение можно начать с
         букваря Жуковой, играя в кубики (Зайцева, Чаплыгина), запоминая слова на карточках Домана. Не стоит забывать, что перед началом обучения чтению, ребенок должен 
         знать буквы, поскольку последовательность обучения такова: буквы, слога, слова, предложения. Если ребенок может повторить написанное вами слово (сложить его из 
         кубиков, например), значит, к обучению чтению он готов.</div>
         <div class="mental" style="text-align: center; font-weight:bold; font-size:18px;">Как</div>
    <div style="text-indent: 25px;">Многие делают ошибку, когда начинают самостоятельно обучать детей читать. Так, родители пытаются донести мысль, что «МАМА» — это «ЭМ»,
         «А», «ЭМ», «А». Это неправильный подход. Учиться читать надо слогами, соответственно, запоминать надо слоги. Важно знать, что обучение чтению — это развитие памяти.
          Чтобы ребенку запомнить навсегда что-то новое, ему это надо показать и назвать около 600 раз. Ребенок просто запоминает (а не понимает, как принято считать), как
           пишутся буквы, читаются слоги, слова и предложения. Создайте вспомогательную среду дома – окружите ребенка слоговыми таблицами, буквами в кубиках, на магнитах и т.д. 
           Чем чаще он будет видеть буквы, тем быстрее к ним привыкнет и запомнит.</div>
    <div style="text-indent: 25px;">Техника обучения: сначала взрослый читает сам и водит своим пальцем или указкой по тексту, чтобы ребенок видел, что он читает. Так читать 
        ребенку можно от месяца до трех, минут по 10-15 в день. Затем можно читать, показывая пальчиком ребенка, то есть, двигая по тексту его руку. На этот этап можно 
        потратить от недели до месяца. И только после этого, приступаем непосредственно к самому обучению: сначала читаем слог сами, а затем просим повторить ребенка. Когда 
        ребенок научится читать простые слоги, можно приступать к словам, также сначала прочитав ему слово вслух, а затем попросить ребенка повторить.</div><br>
    <div style="text-indent: 25px;">И напоследок 5 правил для успешного обучения чтению:</div><br>
    <div style="text-indent: 25px;">1. Старайтесь заинтересовать ребенка. Это нетрудно сделать, благо существуют различные пособия, тетради, развивающие кубики и игры.</div>
    <div style="text-indent: 25px;">2. Главное не длительность занятий, а их частота. Необходимо, чтобы занятия были регулярными.</div>
    <div style="text-indent: 25px;">3. После зарядки для ума, делайте с ребенком обычную зарядку – подвижные игры хорошо снимут умственное напряжение.</div>
    <div style="text-indent: 25px;">4. Не требуйте невозможного. Если ребенок не хочет заниматься, отложите свои амбиции и проанализируйте, что было сделано не так. Имейте 
        терпение.</div>
    <div style="text-indent: 25px;">5. Не сравнивайте своего ребенка с другими детьми.</div><br>
    <div style="text-indent: 25px;">Когда ребенок обучился чтению, родители облегченно вдохнули, мол, наконец, всё сам теперь читать будет. Но не тут-то было: психологи 
        рекомендуют читать детям книги вслух до 14 лет для их полноценного эмоционального развития.</div>
    

</div>
{% endblock movie %}
