{% extends 'articles/base.html' %}
{% block movie %}
                <div class="left-ads-display col-lg-8" style="margin-left: 250px;">
                    <div class="row">
                        
                        <div class=" col-md-6 pl-lg-4" style="margin-left: 350px; margin-bottom: 30px;">
                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                {{ movie.title }}
                            </h3>
                              
                        </div>
                    </div>
                   
                    <hr>
                    <div class="row" style="margin-left: 250px; margin-top: 50px;">
                        <div class="single-form-left" >
                            <!-- contact form grid -->
                            <div class="contact-single" >
                                <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;"></span>Оставить отзыв</h3>
                                <form action="{% url 'add_review' movie.id %}" method="post" class="mt-4">
                                    {% csrf_token %}
                                    <div class="form-group editContent"
                                         style="outline: none; cursor: inherit;">
                                        <label for="contactcomment" class="editContent"
                                               style="outline: none; cursor: inherit;">Ваш комментарий: 
                                            </label>
                                        <textarea class="form-control border" rows="5" name="text"
                                                  id="contactcomment" required=""></textarea>
                                    </div>
                                    <div class="d-sm-flex">
                                        <div class="col-sm-6 form-group p-0 editContent"
                                             style="outline: none; cursor: inherit;">
                                            <label for="contactusername" class="editContent"
                                                   style="outline: none; cursor: inherit;">ФИО:
                                                </label>
                                            <input type="text" class="form-control border" name="name"
                                                   id="contactusername" required="">
                                        </div>
                                        <div class="col-sm-6 form-group ml-sm-3 editContent" 
                                             style="outline: none; cursor: inherit;">
                                            <label for="contactemail" class="editContent"
                                                   style="outline: none; cursor: inherit;">Email:
                                                </label>
                                            <input type="email" class="form-control border" name="email"
                                                   id="contactemail" required="">
                                        </div>
                                    </div>
                                    <button type="submit"
                                            class="mt-3 btn btn-success btn-block py-3"
                                            style="outline: none; cursor: inherit;">Отправить
                                    </button>
                                </form>
                            </div>
                            
                        </div>
                        </div>
                        {% for review in movie.reviews_set.all %}
                        <div class="media py-5" style="margin-left: 70px;">
                            
                            <div class="media-body mt-4">
                                <h5 class="mt-0 editContent"
                                    style="outline: none; cursor: inherit;">{{ review.name }}</h5>
                                <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                                    {{ review.text }}
                                </p>
                                
                            </div>
                        </div>
                    
                    {% endfor %}
                </div>
                {% endblock movie %}         