{% extends 'articles/base.html' %}
{% block movie %}  
<div class="mental" style="color: black; margin-left: 100px; margin-right: 100px;  "> 
      <div class="mental" style="text-align: center; font-weight:bold; font-size:20px;">Что такое Скорочтение?</div><br>
      <div style="text-indent: 25px;">Скорочтение — это набор методик, позволяющих увеличить скорость прочитываемого материала в 2–3 раза. Однако быстрое чтение не 
            означает, что по тексту просто пробежались глазами, не поняв его сути. Благодаря скорочтению, развивается память и понимание прочитываемого материала.
</div>
      <div style="text-indent: 25px;">Потребность в быстром чтении с каждым днем ощущается все сильнее, так как на людей постоянно обрушивается огромный поток 
            информации. Чтение деловой корреспонденции превратилось в пытку. Школьники и студенты с трудом в состоянии "переварить" весь объем подаваемой информации.
</div>
      <div style="text-indent: 25px;">Темп жизни растет с каждым днем, времени катастрофически не хватает, и мало кто задумывался над тем, что именно, благодаря быстрому 
            чтению, люди могут экономить столь драгоценное время, которого не так много им отпущено.

            Неоднократно доказано, что при обычном чтении человек редко запоминает прочитанное. Оно зачастую превращается в механический процесс и фраза "все читал, 
            ничего не помню" становится нормой.
            
            
            </div>
      <div style="text-indent: 25px;">Дело в том, что при обычном чтении человек проговаривает каждое слово, пробегает его глазами, но ум при этом помимо прочитанных 
            слов, выстраивает еще дополнительные образы и так отвлекается от прочитанного. Например, читая слово "море", в голове начинают выстраиваться картины пляжа, 
            чаек, парящих в небе, людей, отдыхающих на берегу и т.п. Связано это с тем, что ум справляется с обработкой прочитанного примерно в 3 раза быстрее. А все 
            остальное время идет на образы. В результате, человек начинает забывать, что было написано, он помнит только образы и уже по образной памяти пытается 
            воссоздать прочитанное.
</div>
      <div style="text-indent: 25px;">Первые попытки исследования в области чтения были предприняты в 1879 году французским ученым Жавалем. Он изучал проблему
             движения глаз при чтении. Однако более тщательно к изучению вопроса увеличения скорости и усвоения информации подошли в 20–30 гг. прошлого века в России 
             и США. Были созданы национальные и международные организации, которые занялись исследованием в этой области. Была создана Международная организация по 
             вопросам рационализации чтения.
</div>
      <div style="text-indent: 25px;">В настоящий момент существуют ряд школ, которые занимаются обучением методики быстрого чтения. Разработаны множество программ,
             позволяющих увеличить скорость чтения, укрепить память.
</div><br>
      <div style="text-indent: 25px;">Техника быстрого чтения уделяет внимание трем факторам:</div>
      <div style="text-indent: 25px;">1. Избавление от регрессии — возвратное движение глаз при чтении. Текст читается не по словам, а по абзацам, воспринимая текст
             вертикально. При этом увеличивается угол обзора прочитываемого текста.
</div>
      <div style="text-indent: 25px;">2. Избавление от проговаривания слов во время чтения.</div>
      <div style="text-indent: 25px;">3. Повышение качества читаемого материала, совершенствование понимания текста на единицу затрачиваемого времени.
</div><br>
      <div style="text-indent: 25px;">В результате пройденных программ обучения человек сможет:</div>
      <div style="text-indent: 25px;">1. Изучить большее количества материала и увеличить объем запоминаемой информации.</div>
      <div style="text-indent: 25px;">2. Сэкономить время, которое затрачивается на работу с документами.</div>
      <div style="text-indent: 25px;">3. Лучше запомнить и усвоить прочитанное.</div>
      <div style="text-indent: 25px;">4. Развить скорость мыслительных процессов.</div>
      <div style="text-indent: 25px;">5. Развить гибкость мышления, обрести способность принимать быстрое точное решение в различных ситуациях.
</div><br>
      <div style="text-indent: 25px;">Деньги, затраченные на дополнительное образование по быстрому чтению, принесут большую прибыль, поскольку позволят человеку
             стать высококвалифицированным специалистом, а свободное время он сможет использовать для своего духовного развития.
</div>
      <div style="text-indent: 25px;"></div>
      <div style="text-indent: 25px;"></div>
      <div style="text-indent: 25px;"></div>
</div>
{% endblock movie %}